@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Dover University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Dover University</h2>
        <p>
            Dover University offers invaluable path to better you.
            Convert your curiosity into insights and put them to practice.
            Make an impactful move for your tomorrow.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fly.</h2>
        <p>xpand your knowledge beyond your imagination. Extend your playground to the sky.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Grow.</h2>
        <p>Connect with other experts, learners and collaborate on pivotal breakthroughts.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>